SPOTIFY_WEB_API_SECRET="<YOUR_SECRET_HERE>"
SPOTIFY_WEB_API_CLIENT_ID="<YOUR_CLIENT_ID_HERE>"
SPOTIFY_WEB_API_URL="https://api.spotify.com"
SPOTIFY_WEB_API_VERSION="v1"
SPOTIFY_WEB_API_AUTH_URL="https://accounts.spotify.com"